<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Server=(localdb)\\v11.0;Database=cleanarchitecture;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add name="SqliteConnection" connectionString="Data Source=database.sqlite"/>
  </connectionStrings>
</configuration>